<% provide(:title, 'Signup') %>
<h1>Sign up</h1>
<form>
	<label>Name</label>
	<input type="text">
	<label>Email</label>
	<input type="text">
	<label>Password</label>
	<input type="password">
	<label>Confirmation</label>
	<input type="password">
	<input type="submit">
</form>
